.calendar-overlay {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	background-color: rgba(10,10,10,.7);
	z-index: 100001;
	overflow: hidden;
	display: none;
}
.calendar-wrapper {
	
	font-size: 14px;
	position: relative;
	width: 280px;
}
	.calendar-wrapper.picker {
		position: absolute;
		left: 50%;
		bottom: 24px;
		min-width: 280px;
		opacity: 1;
		overflow: hidden;
		border-radius: 2px;
		-o-border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		transform: translateX(-50%) scale(1);
		-o-transform: translateX(-50%) scale(1);
		-moz-transform: translateX(-50%) scale(1);
		-webkit-transform: translateX(-50%) scale(1);
	    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	    -o-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	    -moz-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	    -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
		transition: transform .25s ease, opacity .25s ease;
		-o-transition: -o-transform .25s ease, opacity .25s ease;
		-moz-transition: -moz-transform .25s ease, opacity .25s ease;
		-webkit-transition: -webkit-transform .25s ease, opacity .25s ease;
	}
		.calendar-wrapper.picker.load {
			/*bottom: -32px;*/
			opacity: 0;
			transform: translateX(-50%) scale(1.05);
			-o-transform: translateX(-50%) scale(1.05);
			-moz-transform: translateX(-50%) scale(1.05);
			-webkit-transform: translateX(-50%) scale(1.05);
		}
.calendar-head-card {
	font-size: 18px;
	padding: 16px;
}
	.calendar-head-card .calendar-year,
	.calendar-head-card .calendar-date-wrapper { 
		color: rgb(220,220,220);
		display: block;
	}
	.calendar-head-card .calendar-date-wrapper {
		font-size: 30px;
		cursor: pointer;
	}
		.calendar-head-card .calendar-date-wrapper:hover { color: #fff; }
.calendar-container {
	background-color: #fff;
	padding: 0px;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
.calendar-top-selector {
	display: table;
	width: 108%;
	font-size: 18px;
    text-align: center;
    padding: 6px 15px;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    
	background: #2b2b2b;
	position: absolute;
	left: -4%;
	top: 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
	background: -moz-linear-gradient(left,  #2b2b2b 0%, #333333 50%, #131313 100%);
	background: -webkit-linear-gradient(left,  #2b2b2b 0%,#333333 50%,#131313 100%);
	background: linear-gradient(to right,  #2b2b2b 0%,#333333 50%,#131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#131313',GradientType=1 );
}
.calendar-top-selector:before,
.calendar-top-selector:after {
	width: 0;
	height: 0;
	border-style: solid;
	content: "";
	position: absolute;
	bottom: -10px;
}

.calendar-top-selector:before {
	border-width: 0 10px 10px 0;
	border-color: transparent #000 transparent transparent;
	left: 0;
}
.calendar-top-selector:after {
	border-width: 10px 10px 0 0;
	border-color: #000 transparent transparent transparent;
	right: 0
}

	.calendar-top-selector span {
		display: table-cell;
		text-align: center;
		font-weight: 100;
		cursor: pointer;
		padding: 3px 0 !important;
	}
	.calendar-top-selector span.calendar-prev,
	.calendar-top-selector span.calendar-next { font-size: 0; }
	.calendar-top-selector span.calendar-prev {background-position: -109px -13px;}
	.calendar-top-selector span.calendar-next {background-position: -157px -13px;}


	.calendar-top-selector .calendar-curr-month { padding-bottom: 0; }
.calendar-next, .calendar-prev {
	font-size: 24px;
	width: 14%;
	color: rgb(50,50,50);
}
.calendar-grid {
	position: relative;
	overflow: hidden;
	transition: all .25s ease;
	-o-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-webkit-transition: all .25s ease;
	margin-top: 70px;
	padding: 0 10px;
}
	.calendar-grid .calendar-labels {
		display: table;
		width: 100%;
		visibility: visible;
		opacity: 1;
		transition: opacity .25s ease;
		-o-transition: opacity .25s ease;
		-moz-transition: opacity .25s ease;
		-webkit-transition: opacity .25s ease;
	}
		.calendar-grid .calendar-labels.invis { visibility: hidden; opacity: 0; }
		.calendar-grid .calendar-labels span {
			display: table-cell;
    width: 14%;
    text-align: center;
    color: rgb(50,50,50);
    padding: 8px 0 4px 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
		}
	.calendar-grid .calendar-date-holder { 
		position: relative;
		width: 260px;
		height: 190px;
		overflow: hidden;
	}
.calendar-date-holder .calendar-dates {
	position: absolute;
	display: table;
	left: 0;
	width: 100%;
	transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;
	-o-transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;
	-moz-transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;
	-webkit-transition: margin-left .3s cubic-bezier(0.4, 0.0, 0.2, 1), transform .3s ease, opacity .3s ease;
}
	.calendar-date-holder .calendar-dates.hasmonths {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transform: scale(.5);
		-o-transform: scale(.5);
		-moz-transform: scale(.5);
		-webkit-transform: scale(.5);
	}
	.calendar-date-holder .calendar-dates.left { margin-left: -260px; }
	.calendar-date-holder .calendar-dates.right { margin-left: 260px; }
	.calendar-date-holder .calendar-dates.months {
		position: relative;
		opacity: 1;
	}
		.calendar-date-holder .calendar-dates.months.load {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transform: scale(1.5);
			-o-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-webkit-transform: scale(1.5);
		}
	.calendar-date-holder .calendar-dates .cal-row { display: block; }
	.calendar-date-holder .calendar-dates .date {
		display: table-cell;
		width: 14%;
		text-align: center;
		color: rgb(50,50,50);
		border: 1px solid #a5a5a5;
		border-right: none;
		border-top: none;
		float: left;
	}
		.calendar-date-holder .calendar-dates .cal-row:first-child .date {border-top: 1px solid #a5a5a5;}
	.calendar-date-holder .calendar-dates .cal-row .date:last-child {border-right: 1px solid #a5a5a5;}
		.calendar-date-holder .calendar-dates .date a {
			text-decoration: none;
			display: block;
			color: inherit;
			height: 30px;
			width: 100%;
		    margin: 0;
			outline: none;
			transition: all .3s;
			-o-transition: all .3s;
			-moz-transition: all .3s;
			-webkit-transition: all .3s;
			display: flex;
  justify-content: center;
  align-items: center;
		}
    	.calendar-date-holder .calendar-dates .date.disabled a { cursor: not-allowed; color: rgb(200,200,200); }
		.calendar-date-holder .calendar-dates .date:not(.disabled):not(.selected) a:hover { border-color: rgb(100,100,100); }
		.calendar-date-holder .calendar-dates .date:not(.disabled):not(.selected) a:active { border-color: rgb(50,50,50); }
		.calendar-date-holder .calendar-dates .date.current a {
			color: #000;
			font-weight: bold;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4c4c4+24,c4c4c4+24,ededed+100 */
background: #c4c4c4; /* Old browsers */
background: -moz-linear-gradient(top,  #c4c4c4 24%, #c4c4c4 24%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c4c4c4 24%,#c4c4c4 24%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c4c4c4 24%,#c4c4c4 24%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

		}
		.calendar-date-holder .calendar-dates .date.pm, .calendar-dates .date.nm { color: rgb(150,150,150); }
		.calendar-date-holder .calendar-dates .date.selected a {
			color: #000;
			
		}
		.calendar-date-holder .calendar-dates .date:hover {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ededed+0,c4c4c4+100 */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #c4c4c4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ededed 0%,#c4c4c4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ededed 0%,#c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

		}
		.calendar-date-holder .calendar-dates .date.month a {
			display: block;
			padding: 24px 0;
		}

/* Color theme */


.calendar-wrapper[data-theme='green'] .calendar-head-card { background-color: #2e7d32; }
.calendar-wrapper[data-theme='green'] .calendar-date-holder .calendar-dates .date.current a { color: #388e3c; }
.calendar-wrapper[data-theme='green'] .calendar-date-holder .calendar-dates .date.selected a { border-color: #388e3c; }
.calendar-wrapper[data-theme='green'] .calendar-date-holder .calendar-dates .date.selected a:hover { border-color: #1b5e20; }
.calendar-wrapper[data-theme='green'] .calendar-date-holder .calendar-dates .date.selected.current a { color: #388e3c; }
/* End color theme */

body[datepicker-display='on'] {
	overflow: hidden;
}

.calendar-head-card { display: none; }
.calendar-date-holder .calendar-dates .date.pm a, .calendar-dates .date.nm a {
    visibility: hidden;
}
.calendar-date-holder .calendar-dates .cal-row:nth-child(6) { display: none; }
@media (max-width: 350px) {
	.calendar-wrapper {
		max-width: 100%;
	}
}